/* CSS Starts here */
body {
    background-image: url("../images/img1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 130%;
   
}

.ccenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:150px;
    padding-top: 120px; 
    
}